<div class="content">
  <h1>Todo-list</h1>
  <p>Enter text the input field to add to your list.</p>
  <p>Click the"x" to remove the item your list</p>
  <p>Click the item to mark as complete</p>
  <div clas="content-app" >
    <input type="text" #todoInput (keydown.enter)="addTodo(todoInput.value, todoInput)">
    <button (click)="addTodo(todoInput.value, todoInput)">Add </button>
  </div>

  <div class="task-list">
    <div *ngFor="let todo of todos; let i = index" class="task-item">
      <button 
        (click)="toggleCompletion(todo)"
        [class.completed]="todo.completed"
        class="todo-button">
        {{ todo.task }}
      </button>
      <button (click)="deleteTodo(i)" class="delete-button">X</button>
    </div>
  </div>
</div>
